.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--navbar-gradient);
    color: var(--text);
    padding: 15px 7%;
    border-bottom: 1px solid var(--text);
    transition: background 0.3s ease;
}

.dark .navbar {
    background: var(--navbar-gradient);
}

.navbar > ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

.navbar > ul > li {
    display: inline-block;
    border: 1px solid var(--nav-border);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

ul li button {
    background: transparent;
    border: none;
    color: var(--text);
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown-li {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    left: 0;
    background: var(--bg);
    border: 1px solid var(--nav-border);
    border-radius: 10px;
    padding: 10px 0;
    list-style: none;
    width: 150px;
    z-index: 9999;
}

.dropdown-menu li {
    padding: 10px 15px;
    margin: 0;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu li:hover{
    background: var(--container-bg);
}

/* Remove underline from link when clicked */
a, a:visited, a:active, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}