.section {
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.section-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 32px;

    max-width: 1400px;
    margin-top: 20px;

    align-items: start;
}

.section-main {
    height: 100%;
    overflow-y: auto;
    padding-right: 16px;
}