:root {
    --bg: white;
    --text: black;
    --container-bg: #ced8ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

.dark {
    --bg: #000;
    --text: white;
    --container-bg: #222;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: var(--container-bg);
    transition: 0.5s;
}