*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg: white;
    --text: black;
    --container-bg: rgba(207, 192, 251, 0.87);

    /*Account button variables for light mode*/
    --account-border: rgba(207, 192, 251, 0.87);
}

.dark {
    --bg: #000;
    --text: white;
    --container-bg: #222;

    /* Account button variables for dark mode */
    --account-border: #444;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: var(--container-bg);
    transition: 0.5s;
}